### NETLOGO ABM MODEL CONFIG
### GENERAL SETTINGS
run: Strategic
run_no: 1
run_path: D:/Jesse/sciebo/00_Promotion/06_Model/02_ABM/02_NetLogo/02_Output/2025-03-21-20-24/Sensitivity_1/Run_1/
settings.plot: True
settings.write: True
settings.debug: False
settings.track: False

### SCENARIO SETTINGS
scenario.ref: False
scenario.co2_tax: False
scenario.h2_subsidy: False
scenario.h2_guarant: False
scenario.res_subsidy: False
scenario.power_subsidy: False
scenario.power_guarant: False
scenario.elc_subsidy: False
scenario.elc_guarant: False
scenario.man_subsidy: False
scenario.time_lag: False

### SENSITIVITY SETTINGS
const.beta: 1
const.PM.delta_threshold: 0.10
const.HM.delta_threshold: 0.10
const.EM.delta_threshold: 0.10
const.gamma: 0.9
init.HM.threshold_0: -0.9
init.EM.threshold_0: -0.9
const.EM.inexperience_penalty_max: 0.5
const.EM.global_share: 0.1
const.MAN.learning_rate: 0.15
GOV.h2_subsidy: 0
GOV.h2_guarant: 0
GOV.res_subsidy: 0
GOV.power_subsidy: 0
GOV.power_guarant: 0
GOV.elc_subsidy: 0
GOV.elc_guarant: 0
GOV.man_subsidy: 0